@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@200&display=swap);
* {
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

header.header {
    display: flex;
    align-items: center;
    /* background-color: green; */
}

.landing-page {
    position: relative;
    padding: 20px 50px;
}


/* le landing-page correspond à la page de bienvenue */

.big-title {
    color: white;
    font-size: 80px;
    font-family: 'Abril Fatface';
    font-weight: 100;
}

.scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 0px;
}

header.header img {
    width: 150px;
}

section.top-page {
    background: url("../images/bg.jpg");
    background-size: cover;
    height: 80vh;
    padding: 25px;
}


/* menu de navigation */


/* Une flexbox est une boite qui va contenir des items; des items qui peuvent se mettre en colones ou en lignes, à gauche ou à droite */


/* magin est un espace externe et padding pour espace interne */

nav.nav {
    display: flex;
    list-style: none;
    /* background-color: red; */
    width: 400px;
    margin-left: 30px;
    justify-content: space-between;
}

nav.nav li a {
    color: white;
    text-transform: none;
}


/* section services */

.services {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
}

.delivery-icon {
    font-size: 50px;
    color: #ADD981;
}


/* Section best-items */

.best-items {
    margin: 100px;
}

.section-title {
    font-size: 50px;
    font-weight: 100;
    font-weight: 'Abril FatFace', cursive;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.best-plants {
    min-height: 500px;
    display: flex;
    /* pour pouvoir adapter le nombre d'images en fonction de la taille de la fenetre */
    flex-wrap: wrap;
}

.plant-box {
    background-size: cover;
    background-position: center;
    min-width: 350px;
    height: 500px;
    flex: 1;
    position: relative;
}

.no-grid {
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.plant1 {
    background-image: url(../images/nos_meilleures_ventes/1.jpg);
}

.plant2 {
    background-image: url(../images/nos_meilleures_ventes/2.jpg);
}

.plant3 {
    background-image: url(../images/nos_meilleures_ventes/3.jpg);
}

.plant4 {
    background-image: url(../images/nos_meilleures_ventes/4.jpg);
}

.plant-details {
    background-color: bisque;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 20px;
}

.plant-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.plant-price {
    color: #ADD981;
    font-weight: 800;
    line-height: 3px;
    font-size: 14px;
}


/* section all-plants */

.all-plants {
    margin: 100px;
}

.plant-grid {
    display: grid;
    min-height: 40vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 270px);
}

.plant-grid1 {
    background-image: url("../images/nos_plantes/1.jpg");
    grid-column: 1/3;
    grid-row: 1/3;
}

.plant-grid2 {
    background-image: url("../images/nos_plantes/2.jpg");
    grid-column: 3/5;
}

.plant-grid3 {
    background-image: url("../images/nos_plantes/3.jpg");
    grid-column: 3/5;
}

.plant-grid4 {
    background-image: url("../images/nos_plantes/4.jpg");
    grid-column: 1;
    grid-row: 3/5;
}

.plant-grid5 {
    background-image: url("../images/nos_plantes/5.jpg");
    grid-column: 2/4;
    grid-row: 3/5;
}

.plant-grid6 {
    background-image: url("../images/nos_plantes/6.jpg");
    grid-column: 4;
    grid-row: 3/5;
}

footer {
    display: flex;
    align-items: center;
    margin: 20px 100px;
    justify-content: space-between;
    font-weight: 600;
}

footer a.cgv {
    text-decoration: none;
    color: black;
}

.contact-form {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.contact-form label {
  display: block;
  margin-top: 15px;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.contact-form button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}
